<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zc3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2305F6AC1BE4D9EB00558320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2305F6C01BE4D9EB00558320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2305F6CB1BE4D9EB00558320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
